/*Estilo del contenedor general*/
.Container {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #000;
}

.logoSpotyfi {
    width: 100%;
}

/*Estilo del boton de login*/
.btnLogin {
    padding: 20px;
    background-color: #1db954;
    border-radius: 5rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;

}